header {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: var(--padding-header-top) var(--padding-container-left-right) 30px;

  background: linear-gradient(0deg, transparent, #191919 50%);

  //border: var(--border);
}
