header {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;

  display: grid;
  grid-area: l;
  grid-template-areas: 'logo nav';
  grid-template-columns: 95px auto;

  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  padding: var(--padding-header-top) var(--padding-container-left-right) 30px;

  background: linear-gradient(0deg, transparent, #191919 50%);

  nav {
    display: grid;
    grid-area: nav;
    grid-template-areas: 'menu icons';
    grid-template-columns: auto 155px;
  }

  /* stylelint-disable */
  @media screen and (max-width: 1000px) {
    padding-right: 5%;
    padding-left: 5%;
  }

  /* stylelint-disable */
  @media screen and (max-width: 768px) {
    padding-right: 5%;
    padding-left: 5%;

    & nav {
      transform: translateY(-100%);

      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      justify-content: center;

      padding-top: 70px;
      padding-right: 70px;
    }
  }
}

.headerOpenPhone {
  padding-bottom: 100%;
  background: linear-gradient(0deg, transparent 0%, #191919 55%);
  transition: 0.6s ease-in-out;

  & nav {
    transform: translateY(0);
    transition: 0.6s ease-in-out;
  }
}
