header {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  max-width: 1370px;
  margin: 0 auto;
  padding: var(--padding-header-top) var(--padding-container-left-right) 30px;

  background: linear-gradient(0deg, transparent, #191919 50%);

  @media screen and (width < 1000px) {
    padding-right: 5%;
    padding-left: 5%;
  }

  @media screen and (width < 768px) {
    padding-right: 5%;
    padding-left: 5%;
  }
}
