.menuContainer {
  ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

    padding: 0;

    list-style: none;

    li {
      padding: 0 5px;

      a {
        text-decoration: none;
        letter-spacing: 1.5px;
        outline: none;

        &:focus-visible,
        &:hover {
          font-size: var(--font-size-l);
          font-weight: var(--font-weight-bold);
        }

        &:active {
          font-size: var(--font-size-s);
        }
      }
    }
  }
}
