.menuContainer {
  min-width: 430px;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;

    li {
      padding: 0 5px;

      a {
        text-decoration: none;
        letter-spacing: 1.5px;
        outline: none;
      }

      &:hover,
      &:focus-within {
        transform: scale(1.1);
        color: var(--secondary-text);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
