.iconsContainer {
  display: flex;
  gap: var(--social-icon-gap);
  align-items: center;
  justify-content: center;

  width: calc(4 * var(--social-icon-width) + 3 * var(--social-icon-gap));
  min-height: 35px;
}

.svgClass {
  cursor: pointer;

  > svg {
    width: var(--social-icon-width);
    height: var(--social-icon-height);
    fill: var(--primery-text);

    &:hover {
      transform: scale(1.15);
      fill: var(--secondary-text);
    }
  }

  @media screen and (width < 768px) {
    display: none;
  }
}
