.projectContainer {
  position: relative;
  overflow: hidden;

  width: 25%;
  min-width: 250px;

  background-color: #232323ff;
  border-radius: 25px;
  box-shadow: 0 5px 10px #232323ff;
  padding-bottom: 20px;

  .image {
    position: relative;
    overflow: hidden;
    height: 225px;
    background: linear-gradient(
      45deg,
      var(--linear-gradient-1) -10%,
      var(--linear-gradient-3) 20%,
      var(--linear-gradient-2) 120%
    );

    & img {
      width: 100%;
      height: auto;
      transition-timing-function: linear;
      transition-duration: 1.5s;
    }

    span {
      color: #fff;
      z-index: 1;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 47%;
      transform: translateY(-50%, -50%);
    }
  }

  .projectInform {
    display: flex;
    flex-flow: column wrap;
    align-items: start;

    padding: 16px;

    text-align: start;

    & h3 {
      margin: 15px 0;
      color: var(--secondary-text);
    }

    & p {
      font-size: var(--font-size-s);
      margin: 0;
    }

    & h4 {
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-regular);

      & b {
        color: var(--secondary-text);
      }
    }
  }

  &:hover {
    box-shadow:
      3px -3px 6px #490637,
      -3px 3px 6px #052c3b;

    .notReadiness {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        transition: 0.5s ease-in-out;
      }

      > span {
        opacity: 1;
        transition: 0.5s ease-in-out;
      }
    }
  }

  /* stylelint-disable */
  @media (max-width: 768px) {
    min-width: 300px;
  }

  .refs {
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;

    width: 100%;

    color: var(--secondary-text);

    .ref {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;

      text-decoration: none;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
