.projectContainer {
  overflow: hidden;

  width: 25%;
  min-width: 250px;

  background-color: #232323ff;
  border-radius: 25px;
  box-shadow: 0 5px 10px #232323ff;

  //box-shadow:
  //  3px -3px 6px #e70faaff,
  //  -3px 3px 6px #13b0f5ff;

  &:hover {
    box-shadow:
      3px -3px 6px #490637,
      -3px 3px 6px #052c3b;
  }

  .image {
    overflow: hidden;
    height: 225px;
    background: linear-gradient(
      45deg,
      var(--linear-gradient-1) -10%,
      var(--linear-gradient-3) 20%,
      var(--linear-gradient-2) 120%
    );

    & img {
      width: 100%;
      height: auto;
      transition-timing-function: linear;
      transition-duration: 1.5s;

      &:hover {
        transform: translate(0, -68.45%) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
      }
    }
  }

  .projectInform {
    display: flex;
    flex-flow: column wrap;
    align-items: start;

    padding: 16px;

    text-align: start;

    & h3 {
      margin: 15px 0;
      color: var(--secondary-text);
    }

    & p {
      margin: 0;
    }

    & h4 {
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-regular);

      & b {
        color: var(--secondary-text);
      }
    }

    .refs {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      color: var(--secondary-text);

      .ref {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;

        text-decoration: none;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  /* stylelint-disable */
  @media screen and (max-width: 768px) {
    min-width: 300px;
  }
}
