html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body {
  cursor: context-menu;
  margin: 0;
  box-sizing: border-box;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--primery-text);

  background-color: var(--primery-background);
}

section {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 100px var(--padding-container-left-right) 0;

  @media screen and (width < 768px) {
    padding: 8%;
  }
}

a {
  color: var(--primery-text);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: unset;
  border: none;
  padding: 0;
}
