:root {
  /* Dark mode */

  --primery-text: #a7a7a7;
  --secondary-text: #dedede;
  --primery-background: #191919;
  //--border-bottom: rgba(167, 167, 167, 0.3);
  --linear-gradient-1: #13b0f5;
  --linear-gradient-2: #e70faa;
  --linear-gradient-3: #1261d9;

  /* Light mode */
}
