:root {
  --font-family-primary: 'Poppins', serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 28px;
  --line-height-xl: 40px;
  --line-height-xxl: 52px;
  --line-height-xxxl: 70px;

  // font sizes
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 48px;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  // social icon
  --social-icon-width: 35px;
  --social-icon-height: 35px;
  --social-icon-width-hover: 37px;
  --social-icon-height-hover: 37px;
  --social-icon-gap: 5px;

  // border
  --border: 1px solid var(--primery-text);

  // paddings
  --padding-header-top: 20px;
  --padding-footer-bottom: 30px;
  --padding-container-left-right: 90px;

  // hover transform
  --length-persentage-Y-smail: 55%;

  // media transform
}
