.logoContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  // border: 1px solid #a7a7a7;

  span {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-l);
  }
}
