.informationContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: center;

  .section {
    width: 100%;

    h2 {
      margin: 0;
      padding-top: 40px;

      font-size: var(--font-size-xxl);
      line-height: 52px;
      color: var(--secondary-text);

      @media screen and (width < 768px) {
        padding-top: 20px;
        font-size: var(--font-size-xl);
      }
    }

    p {
      padding-top: 30px;
      font-size: var(--font-size-m);
      line-height: 26px;
      letter-spacing: 1px;

      @media screen and (width < 768px) {
        padding-top: 10px;
      }
    }

    .workExperienceWrapper {
      display: flex;
      flex-direction: column;

      .workExperience {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: space-between;

        padding: 25px 0;

        border-bottom: 2px solid rgb(167 167 167 / 30%);

        .jobInformTop {
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: space-between;

          width: 100%;

          & h3 {
            font-size: var(--font-size-l);
            line-height: var(--line-height-l);

            @media screen and (width < 768px) {
              max-width: 200px;
              margin: 10px 0;
              font-size: var(--font-size-l);
            }
          }
        }

        .jobInformBottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .workLocation {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;

            font-size: var(--font-size-xs);
            line-height: var(--line-height-s);

            @media screen and (width < 768px) {
              flex-direction: column;
              align-items: start;
            }
          }

          .period {
            display: flex;
            gap: 5px;

            div {
              display: flex;
              gap: 5px;
              align-items: center;
              justify-content: center;

              font-size: var(--font-size-xs);
              line-height: var(--line-height-s);
            }
          }

          @media screen and (width < 768px) {
            align-items: start;
            font-size: var(--font-size-xs);
            line-height: var(--line-height-s);
          }
        }
      }
    }
  }
}
