@mixin menu {
  cursor: pointer;

  display: flex;
  grid-area: menu;
  gap: 10px;
  align-items: center;
  justify-content: center;

  min-width: 430px;
  margin: 0;
  padding: 0;

  list-style: none;

  .itemWrapper {
    padding: 0 5px;
    transition: 0.2s;

    .menuItem {
      text-decoration: none;
      letter-spacing: 1.5px;
      outline: none;

      &.active,
      &:hover,
      &:focus-within {
        color: var(--secondary-text);
      }
    }

    &:hover,
    &:focus-within,
    &.active {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.menuContainer {
  @include menu;

  /* stylelint-disable */
  @media (max-width: 1000px) {
    min-width: 400px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.menuPhoneContainer {
  @include menu;

  flex-direction: column;
  min-width: 150px;
}
