@mixin menu {
  display: flex;
  grid-area: menu;
  gap: 10px;
  align-items: center;
  justify-content: center;

  min-width: 430px;
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    padding: 0 5px;

    a {
      text-decoration: none;
      letter-spacing: 1.5px;
      outline: none;
    }

    &:hover,
    &:focus-within {
      transform: scale(1.1);
      color: var(--secondary-text);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.menuContainer {
  @include menu;

  @media screen and (width < 1000px) {
    min-width: 400px;
  }

  @media screen and (width < 768px) {
    display: none;
  }
}

.menuPhoneContainer {
  @include menu;

  flex-direction: column;
  min-width: 150px;
}
