.footerContainer {
  position: fixed;
  bottom: 0;

  font-size: var(--font-size-xs);

  width: 100%;
  padding: 20px var(--padding-container-left-right) 5px;

  text-align: center;

  background: linear-gradient(0deg, #191919 30%, transparent);

  span {
    background: linear-gradient(45deg, var(--linear-gradient-1), var(--linear-gradient-2) 100%);
    /* stylelint-disable */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
