.homeContainer {
  box-sizing: border-box;
  padding-top: 130px;
  // padding: 250px var(--padding-container-left-right) 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  .textWrapper {
    margin-right: 20px;

    h1 {
      background: linear-gradient(135deg, var(--secondary-text) -10%, var(--primery-text) 20%);
      /* stylelint-disable */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: var(--font-size-xxxxl);
      line-height: var(--line-height-xxxl);

      span {
        background: linear-gradient(
          45deg,
          var(--linear-gradient-1) -10%,
          var(--linear-gradient-3) 30%,
          var(--linear-gradient-2) 120%
        );
        /* stylelint-disable */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .avatarWrapper {
    margin: 6px;
    align-self: end;
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      //margin-right: 6px;
      inset: -6px;
      background: linear-gradient(
        45deg,
        var(--linear-gradient-1) -10%,
        var(--linear-gradient-3) 20%,
        var(--linear-gradient-2) 120%
      );
      border-radius: 50%;
      z-index: -1;
    }

    .avatar {
      width: 100%;
      object-fit: cover;
      object-position: 47% 36%;
      border-radius: 50%;
    }
  }
  /* stylelint-disable */
  @media screen and (max-width: 950px) {
    flex-direction: column;
    align-items: start;
    .textWrapper {
      h1 {
        font-size: 2rem;
        line-height: 36px;
      }
    }
  }
}
