.homeContainer {
  padding: 250px var(--padding-container-left-right) 50px;
  width: 100%;

  .myInform {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .textWrapper {
      margin-right: 20px;

      h1 {
        background: linear-gradient(135deg, var(--secondary-text) -10%, var(--primery-text) 20%);
        /* stylelint-disable */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: var(--font-size-xxxxl);
        line-height: var(--line-height-xxl);

        span {
          background: linear-gradient(
            45deg,
            var(--linear-gradient-1) -10%,
            var(--linear-gradient-3) 30%,
            var(--linear-gradient-2) 120%
          );
          /* stylelint-disable */
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .avatarWrapper {
      position: relative;
      width: 30vmin;
      height: 30vmin;
      border-radius: 50%;

      &::before {
        content: '';
        position: absolute;
        inset: -9px;
        background: linear-gradient(
          45deg,
          var(--linear-gradient-1) -10%,
          var(--linear-gradient-3) 20%,
          var(--linear-gradient-2) 120%
        );
        border-radius: 50%;
        z-index: -1;
      }

      .avatar {
        width: 100%;
        object-fit: none;
        object-position: 47% 37%;
        border-radius: 50%;
      }
    }
  }
}
